html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  max-width: 100%;
  margin: 0 0 67px 0;
  padding: 0;
  background: url("https://i.imgur.com/ofWheVG.jpg") no-repeat center center
    fixed;
  background-image: url("https://i.imgur.com/ofWheVG.jpg");
  background-size: cover;
  font-family: "Raleway", sans-serif;
}

a {
  color: gray;
}

a:hover {
  color: #333333;
}

h1,
h2,
h3 {
  text-align: center;
  color: rgb(255, 106, 175);
}

p {
  text-align: center;
}

/* specifically the section with the header*/
#navbar-name {
  padding: 10px;
  color: aliceblue;
  background-color: rgb(255, 106, 175);
}

#navbar-name:hover {
  color: rgb(197, 176, 197);
}

/* added specifics for the column */
.col-lg-8,
.col-lg-4 {
  padding: 5%;
  margin-left: 0;
  background-color: aliceblue;
}

.forecast {
  width: 150px;
  height: 150px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 30px;
  justify-content: center;
  background-color: lightpink;
}

.forecast-text {
  font-size: smaller;
  color: aliceblue;
}

hr {
  color: #333333;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

button,
.button-text {
  color: aliceblue;
  background-color: rgb(255, 106, 175);
  border: rgb(255, 106, 175);
  align-items: center;
  padding: 5px;
}

form {
  padding-bottom: 20px;
}

button:hover {
  background-color: rgb(197, 176, 197);
}

@media (min-width: 400px) {
  #contact,
  #portfolio,
  #about-me {
    font-size: 10px;
    padding-right: 10px;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  #contact,
  #portfolio,
  #about-me {
    padding-right: 10px;
    font-size: 13px;
  }
}

@media (min-width: 992px) {
  #contact,
  #portfolio,
  #about-me {
    padding-right: 10px;
    font-size: 16px;
  }
}
